server:
  port: 7002
spring:
  application:
    name: node01-eureka-7002
eureka:
  instance:
    instance-id: registry02.com
    hostname: registry02.com
    prefer-ip-address: true
  client:
    # false表示不向注册中心注册自己
    register-with-eureka: false
    # false表示该端就是注册中心，维护服务实例，不去检索服务
    fetch-registry: false
    service-url:
      # 单点注册中心
      # defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      # 集群注册中心
      defaultZone: http://registry01.com:7001/eureka/